* {
    padding: 0px;
    margin: 0px;
}

.container {
    background-color: gray;
}

.section {
    background-color:gray;
    color:black;
    margin: auto;
    width: 50%;
}

.section1 {
    background-color:gray;
    color: black;
    width: 50%;
    margin: auto;
}